# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Login_Register_Project.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\João Vitor B\Documents\GitHub\Login_Register_Project\.idea\.idea.Login_Register_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
